<div class="container">
  <footer class="py-3 my-4">
      <p class="text-center text-body-secondary">Copyright © <%= new Date().getFullYear() %> Vishal Shingate/Crypto Price Check. All Rights Reserved.</p>
  </footer>
</div>